In [1]:
import numpy as np
import pandas as pd
#import statsmodels.api as sm
#import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression
#import seaborn as sns
#sns.set()

In [2]:
raw_csv_data = pd.read_csv('https://data.winnipeg.ca/resource/du7c-8488.csv') 
df=raw_csv_data.copy()

In [3]:
df.describe()

,city_wide_daily_average,trap_days,north_west_average,north_east_average,south_east_average,south_west_average
count,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000
mean,15.669307,1.956436,17.413861,14.134653,13.158416,18.055446
std,24.097346,0.962637,26.191848,21.306291,22.232061,34.820243
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,6.000000,2.000000,7.000000,5.000000,5.000000,5.000000
75%,19.000000,3.000000,22.000000,18.000000,16.000000,19.000000
max,187.000000,5.000000,193.000000,159.000000,180.000000,329.000000

In [4]:
df.head()

,count_date,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
0,2015-05-04T00:00:00.000,1,3,1,2,1,0,2,0,1,...,1,1,0,0,1,0,3,0,2,7
1,2015-05-06T00:00:00.000,1,2,2,1,2,1,3,0,3,...,1,2,5,0,1,0,3,2,3,4
2,2015-05-08T00:00:00.000,0,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,1,1,0
3,2015-05-11T00:00:00.000,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
4,2015-05-13T00:00:00.000,0,2,1,0,0,1,1,0,1,...,0,2,0,0,1,0,0,0,0,1

In [5]:
df.count_date.describe()

count                         505
unique                        505
top       2019-08-16T00:00:00.000
freq                            1
Name: count_date, dtype: object

In [6]:
df.count_date = pd.to_datetime(df.count_date, dayfirst = True)

In [7]:
df.head()

,count_date,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
0,2015-05-04,1,3,1,2,1,0,2,0,1,...,1,1,0,0,1,0,3,0,2,7
1,2015-05-06,1,2,2,1,2,1,3,0,3,...,1,2,5,0,1,0,3,2,3,4
2,2015-05-08,0,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,1,1,0
3,2015-05-11,0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
4,2015-05-13,0,2,1,0,0,1,1,0,1,...,0,2,0,0,1,0,0,0,0,1

In [8]:
df.count_date.describe()

<ipython-input-8-70611837b0e3>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.count_date.describe()

count                     505
unique                    505
top       2020-07-05 00:00:00
freq                        1
first     2015-05-04 00:00:00
last      2021-08-11 00:00:00
Name: count_date, dtype: object

In [9]:
df.set_index('count_date')

,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_west_average,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,1,3,1,2,1,0,2,0,1,1,...,1,1,0,0,1,0,3,0,2,7
2015-05-06,1,2,2,1,2,1,3,0,3,2,...,1,2,5,0,1,0,3,2,3,4
2015-05-08,0,2,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,1,0
2015-05-11,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
2015-05-13,0,2,1,0,0,1,1,0,1,0,...,0,2,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-30,5,2,1,0,14,10,3,1,29,8,...,3,8,5,1,15,1,3,9,10,18
2021-08-04,5,5,3,2,20,6,1,0,23,8,...,3,6,5,1,8,1,1,6,11,11
2021-08-06,2,2,1,1,9,5,2,1,11,4,...,1,2,3,0,3,3,2,3,2,6
2021-08-09,3,3,2,2,2,12,1,0,10,4,...,2,5,2,0,6,1,0,3,7,7
2021-08-11,2,2,1,4,4,2,0,0,2,2,...,2,4,2,0,2,1,1,17,0,5

In [10]:
df.set_index('count_date', inplace=True)

In [11]:
df.head()

,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_west_average,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,1,3,1,2,1,0,2,0,1,1,...,1,1,0,0,1,0,3,0,2,7
2015-05-06,1,2,2,1,2,1,3,0,3,2,...,1,2,5,0,1,0,3,2,3,4
2015-05-08,0,2,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,1,0
2015-05-11,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
2015-05-13,0,2,1,0,0,1,1,0,1,0,...,0,2,0,0,1,0,0,0,0,1

In [12]:
#df.count_date.describe()

In [13]:
df.isna()

,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_west_average,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-06,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-08,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-04,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-06,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-09,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
# This part changes 'no data' entries to NaN entries
for cols in list(df.columns):
    for indx in df.index:
        if df.at[indx, cols]=='no data':
            df.at[indx, cols]=np.NaN

In [15]:
df.head()

,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_west_average,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,1,3,1,2,1,0,2,0,1,1,...,1,1,0,0,1,0,3,0,2,7
2015-05-06,1,2,2,1,2,1,3,0,3,2,...,1,2,5,0,1,0,3,2,3,4
2015-05-08,0,2,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,1,0
2015-05-11,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
2015-05-13,0,2,1,0,0,1,1,0,1,0,...,0,2,0,0,1,0,0,0,0,1

In [16]:
# changing everything else to date type
for cols in list(df.columns):
    if cols!='count_date':
        df[cols]=pd.to_numeric(df[cols])

In [17]:
df.head()

,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_west_average,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,1,3,1.0,2.0,1.0,0.0,2.0,0.0,1.0,1,...,1,1.0,0.0,0.0,1.0,0.0,3.0,0.0,2.0,7.0
2015-05-06,1,2,2.0,1.0,2.0,1.0,3.0,0.0,3.0,2,...,1,2.0,5.0,0.0,1.0,0.0,3.0,2.0,3.0,4.0
2015-05-08,0,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2015-05-11,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2015-05-13,0,2,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0,...,0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [18]:
df.isna()

,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_west_average,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-06,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-08,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2015-05-13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-04,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-06,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-09,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2021-08-11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isna().sum()

city_wide_daily_average     0
trap_days                   0
north_west_1                3
north_west_2               21
north_west_3               14
north_west_4                6
north_west_5                4
north_west_6                8
north_west_7               11
north_west_average          0
north_east_1                4
north_east_2                8
north_east_3                6
north_east_4                9
north_east_5                7
north_east_6                9
north_east_7               16
north_east_average          0
south_east_1               14
south_east_2               10
south_east_3                4
south_east_4                6
south_east_5                4
south_east_6               17
south_east_7               16
south_east_average          0
south_west_1               18
south_west_2               10
south_west_3                4
south_west_4               10
south_west_5               11
south_west_6                7
south_west_7                3
south_west_average          0
rural_aa                   16
rural_bb                    3
rural_cc                   12
rural_dd                   23
rural_ee                    7
rural_ff                    9
rural_gg                    9
rural_hh                    4
rural_ii                    7
dtype: int64

In [20]:
df

,city_wide_daily_average,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_west_average,...,south_west_average,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,1,3,1.0,2.0,1.0,0.0,2.0,0.0,1.0,1,...,1,1.0,0.0,0.0,1.0,0.0,3.0,0.0,2.0,7.0
2015-05-06,1,2,2.0,1.0,2.0,1.0,3.0,0.0,3.0,2,...,1,2.0,5.0,0.0,1.0,0.0,3.0,2.0,3.0,4.0
2015-05-08,0,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2015-05-11,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2015-05-13,0,2,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0,...,0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-30,5,2,1.0,0.0,14.0,10.0,3.0,1.0,29.0,8,...,3,8.0,5.0,1.0,15.0,1.0,3.0,9.0,10.0,18.0
2021-08-04,5,5,3.0,2.0,20.0,6.0,1.0,0.0,23.0,8,...,3,6.0,5.0,1.0,8.0,1.0,1.0,6.0,11.0,11.0
2021-08-06,2,2,1.0,1.0,9.0,5.0,2.0,1.0,11.0,4,...,1,2.0,3.0,0.0,3.0,3.0,2.0,3.0,2.0,6.0
2021-08-09,3,3,2.0,2.0,2.0,12.0,1.0,0.0,10.0,4,...,2,5.0,2.0,0.0,6.0,1.0,0.0,3.0,7.0,7.0
2021-08-11,2,2,1.0,4.0,4.0,2.0,0.0,0.0,2.0,2,...,2,4.0,2.0,0.0,2.0,1.0,1.0,17.0,0.0,5.0

In [21]:
#filling the missing values using back-filling method for time series
df.north_west_1=df.north_west_1.fillna(method='bfill')

In [22]:
df.isna().sum()

city_wide_daily_average     0
trap_days                   0
north_west_1                0
north_west_2               21
north_west_3               14
north_west_4                6
north_west_5                4
north_west_6                8
north_west_7               11
north_west_average          0
north_east_1                4
north_east_2                8
north_east_3                6
north_east_4                9
north_east_5                7
north_east_6                9
north_east_7               16
north_east_average          0
south_east_1               14
south_east_2               10
south_east_3                4
south_east_4                6
south_east_5                4
south_east_6               17
south_east_7               16
south_east_average          0
south_west_1               18
south_west_2               10
south_west_3                4
south_west_4               10
south_west_5               11
south_west_6                7
south_west_7                3
south_west_average          0
rural_aa                   16
rural_bb                    3
rural_cc                   12
rural_dd                   23
rural_ee                    7
rural_ff                    9
rural_gg                    9
rural_hh                    4
rural_ii                    7
dtype: int64

In [23]:
#filling NW values 
df.north_west_2=df.north_west_2.fillna(method='bfill')
df.north_west_3=df.north_west_3.fillna(method='bfill')
df.north_west_4=df.north_west_4.fillna(method='bfill')
df.north_west_5=df.north_west_5.fillna(method='bfill')
df.north_west_6=df.north_west_6.fillna(method='bfill')
df.north_west_7=df.north_west_7.fillna(method='bfill')

In [24]:
#filling NE values
df.north_east_1=df.north_east_1.fillna(method='bfill')
df.north_east_2=df.north_east_2.fillna(method='bfill')
df.north_east_3=df.north_east_3.fillna(method='bfill')
df.north_east_4=df.north_east_4.fillna(method='bfill')
df.north_east_5=df.north_east_5.fillna(method='bfill')
df.north_east_6=df.north_east_6.fillna(method='bfill')
df.north_east_7=df.north_east_7.fillna(method='bfill')

In [25]:
#filling SE values
df.south_east_1=df.south_east_1.fillna(method='bfill')
df.south_east_2=df.south_east_2.fillna(method='bfill')
df.south_east_3=df.south_east_3.fillna(method='bfill')
df.south_east_4=df.south_east_4.fillna(method='bfill')
df.south_east_5=df.south_east_5.fillna(method='bfill')
df.south_east_6=df.south_east_6.fillna(method='bfill')
df.south_east_7=df.south_east_7.fillna(method='bfill')

In [26]:
#filling SW values
df.south_west_1=df.south_west_1.fillna(method='ffill')
#for SW_1, I took the ffill since it's the last entry and bfill didn't work.
df.south_west_2=df.south_west_2.fillna(method='bfill')
df.south_west_3=df.south_west_3.fillna(method='bfill')
df.south_west_4=df.south_west_4.fillna(method='bfill')
df.south_west_5=df.south_west_5.fillna(method='bfill')
df.south_west_6=df.south_west_6.fillna(method='bfill')
df.south_west_7=df.south_west_7.fillna(method='bfill')

In [27]:
#filling RR values
df.rural_aa=df.rural_aa.fillna(method='bfill')
df.rural_bb=df.rural_bb.fillna(method='bfill')
df.rural_cc=df.rural_cc.fillna(method='bfill')
df.rural_dd=df.rural_dd.fillna(method='bfill')
df.rural_ee=df.rural_ee.fillna(method='bfill')
df.rural_ff=df.rural_ff.fillna(method='bfill')
df.rural_gg=df.rural_gg.fillna(method='bfill')
df.rural_hh=df.rural_hh.fillna(method='bfill')
df.rural_ii=df.rural_ii.fillna(method='bfill')

In [28]:
df.south_west_1
#for SW_1, I took the ffill since it's the last entry and bfill didn't work.

count_date
2015-05-04    0.0
2015-05-06    0.0
2015-05-08    0.0
2015-05-11    0.0
2015-05-13    0.0
             ...
2021-07-30    2.0
2021-08-04    1.0
2021-08-06    0.0
2021-08-09    0.0
2021-08-11    0.0
Name: south_west_1, Length: 505, dtype: float64

In [29]:
del df['city_wide_daily_average'], df['north_west_average'], df['north_east_average'], df['south_east_average'], df['south_west_average']

In [30]:
df

,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_east_1,north_east_2,...,south_west_7,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,3,1.0,2.0,1.0,0.0,2.0,0.0,1.0,0.0,2.0,...,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,2.0,7.0
2015-05-06,2,2.0,1.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,...,1.0,2.0,5.0,0.0,1.0,0.0,3.0,2.0,3.0,4.0
2015-05-08,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2015-05-11,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2015-05-13,2,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,...,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-30,2,1.0,0.0,14.0,10.0,3.0,1.0,29.0,11.0,7.0,...,2.0,8.0,5.0,1.0,15.0,1.0,3.0,9.0,10.0,18.0
2021-08-04,5,3.0,2.0,20.0,6.0,1.0,0.0,23.0,5.0,4.0,...,2.0,6.0,5.0,1.0,8.0,1.0,1.0,6.0,11.0,11.0
2021-08-06,2,1.0,1.0,9.0,5.0,2.0,1.0,11.0,4.0,4.0,...,0.0,2.0,3.0,0.0,3.0,3.0,2.0,3.0,2.0,6.0
2021-08-09,3,2.0,2.0,2.0,12.0,1.0,0.0,10.0,6.0,6.0,...,0.0,5.0,2.0,0.0,6.0,1.0,0.0,3.0,7.0,7.0
2021-08-11,2,1.0,4.0,4.0,2.0,0.0,0.0,2.0,4.0,2.0,...,1.0,4.0,2.0,0.0,2.0,1.0,1.0,17.0,0.0,5.0

In [31]:
df.describe()

,trap_days,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_east_1,north_east_2,...,south_west_7,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,...,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000
mean,1.956436,22.520792,16.930693,7.059406,21.451485,12.069307,7.827723,33.154455,19.843564,29.093069,...,3.477228,22.552475,20.386139,6.611881,31.396040,8.390099,53.394059,15.388119,50.934653,31.491089
std,0.962637,41.762605,38.925207,10.637070,38.393924,22.423529,22.172306,57.031284,33.561796,54.809277,...,6.175346,44.835388,37.518559,15.602956,70.309813,16.663223,132.840761,40.122183,88.406201,90.824183
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,2.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.000000,1.000000,2.000000,1.000000
50%,2.000000,5.000000,4.000000,3.000000,7.000000,5.000000,1.000000,9.000000,6.000000,6.000000,...,1.000000,6.000000,6.000000,2.000000,8.000000,2.000000,11.000000,4.000000,14.000000,4.000000
75%,3.000000,25.000000,13.000000,9.000000,24.000000,15.000000,6.000000,39.000000,23.000000,37.000000,...,4.000000,19.000000,19.000000,6.000000,35.000000,7.000000,41.000000,15.000000,64.000000,18.000000
max,5.000000,400.000000,328.000000,85.000000,280.000000,264.000000,224.000000,484.000000,256.000000,536.000000,...,57.000000,356.000000,306.000000,190.000000,912.000000,155.000000,1376.000000,592.000000,740.000000,928.000000

In [32]:
del df['trap_days']

In [33]:
df

,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_east_1,north_east_2,north_east_3,...,south_west_7,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2015-05-04,1.0,2.0,1.0,0.0,2.0,0.0,1.0,0.0,2.0,2.0,...,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,2.0,7.0
2015-05-06,2.0,1.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,3.0,...,1.0,2.0,5.0,0.0,1.0,0.0,3.0,2.0,3.0,4.0
2015-05-08,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
2015-05-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2015-05-13,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-30,1.0,0.0,14.0,10.0,3.0,1.0,29.0,11.0,7.0,13.0,...,2.0,8.0,5.0,1.0,15.0,1.0,3.0,9.0,10.0,18.0
2021-08-04,3.0,2.0,20.0,6.0,1.0,0.0,23.0,5.0,4.0,9.0,...,2.0,6.0,5.0,1.0,8.0,1.0,1.0,6.0,11.0,11.0
2021-08-06,1.0,1.0,9.0,5.0,2.0,1.0,11.0,4.0,4.0,3.0,...,0.0,2.0,3.0,0.0,3.0,3.0,2.0,3.0,2.0,6.0
2021-08-09,2.0,2.0,2.0,12.0,1.0,0.0,10.0,6.0,6.0,6.0,...,0.0,5.0,2.0,0.0,6.0,1.0,0.0,3.0,7.0,7.0
2021-08-11,1.0,4.0,4.0,2.0,0.0,0.0,2.0,4.0,2.0,4.0,...,1.0,4.0,2.0,0.0,2.0,1.0,1.0,17.0,0.0,5.0

In [34]:
#Splitting the data
size = int(len(df)*0.8)

In [35]:
df_train = df.iloc[:size]

In [36]:
df_test = df.iloc[size:]

In [37]:
#making sure the data is not overlapping
df_train.tail()

,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_east_1,north_east_2,north_east_3,...,south_west_7,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2016-05-06,6.0,2.0,4.0,2.0,3.0,0.0,6.0,5.0,4.0,3.0,...,1.0,5.0,11.0,2.0,0.0,7.0,17.0,4.0,4.0,11.0
2016-05-09,0.0,0.0,1.0,2.0,1.0,0.0,2.0,1.0,4.0,2.0,...,0.0,2.0,6.0,1.0,0.0,1.0,1.0,1.0,1.0,5.0
2016-05-30,1.0,1.0,1.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,...,0.0,4.0,1.0,2.0,0.0,2.0,7.0,1.0,0.0,3.0
2016-06-13,7.0,11.0,7.0,27.0,8.0,19.0,43.0,19.0,43.0,18.0,...,2.0,23.0,15.0,6.0,73.0,11.0,139.0,17.0,66.0,15.0
2016-06-14,54.0,109.0,24.0,32.0,31.0,182.0,144.0,128.0,228.0,99.0,...,31.0,88.0,54.0,5.0,73.0,25.0,186.0,78.0,222.0,216.0

In [38]:
df_test.head()

,north_west_1,north_west_2,north_west_3,north_west_4,north_west_5,north_west_6,north_west_7,north_east_1,north_east_2,north_east_3,...,south_west_7,rural_aa,rural_bb,rural_cc,rural_dd,rural_ee,rural_ff,rural_gg,rural_hh,rural_ii
count_date,,,,,,,,,,,,,,,,,,,,,
2016-06-15,210.0,296.0,37.0,130.0,39.0,158.0,484.0,112.0,202.0,45.0,...,4.0,102.0,53.0,13.0,73.0,15.0,94.0,78.0,416.0,928.0
2016-06-16,77.0,162.0,11.0,46.0,19.0,116.0,72.0,33.0,104.0,35.0,...,1.0,35.0,23.0,27.0,73.0,7.0,19.0,9.0,272.0,108.0
2016-06-17,138.0,248.0,68.0,280.0,97.0,224.0,29.0,248.0,488.0,96.0,...,6.0,356.0,162.0,28.0,912.0,34.0,592.0,52.0,268.0,880.0
2016-06-18,200.0,328.0,12.0,260.0,25.0,36.0,29.0,138.0,536.0,87.0,...,49.0,96.0,24.0,56.0,400.0,18.0,170.0,34.0,544.0,6.0
2016-06-19,37.0,64.0,18.0,40.0,8.0,180.0,29.0,66.0,42.0,27.0,...,11.0,204.0,48.0,51.0,267.0,8.0,134.0,27.0,200.0,192.0